body {
   background-color: black;
}

.quadrado{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: #000000;
}

.input-box label,
.gender-title h6 {
    font-size: 1.1rem;
    font-family: Arial; 
    font-weight: 600;
    color: #ffffff;
    border-radius: 10px;
}

.button-48 {
  appearance: none;
  background-color: #BA0707;
  border-width: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height:0;
  margin: 0;
  margin-top:30px;
  margin-left:7px;
  height:20px;
  width:140px;
  opacity: 1;
  outline: 0;
  border-radius:50px;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;

}

.button-48:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #640000;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    border-radius:50px;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.button-48:after {
     background-color: #BA0707;
}

.button-48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48 span {
    z-index: 1;
    position: relative;
}

.texto01 {font-family: Arial; 
  color: rgb(255, 255, 255);  
  font-size: 30px
}

.texto02 {font-family: Arial; 
  color: rgb(255, 255, 255);  
  font-size: 10px
}
